body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff;
  padding: 35px 40px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #a06b8d;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #a27aa1;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #8d638c;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

a {
  color: #a27aa1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.btn-masuk {
  display: block;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #a27aa1;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.btn-masuk:hover {
  background-color: #8d638c;
}
